<!-- <h1>Hello This is an new component</h1>
<ul>
<li *ngFor="let arr of myArr">{{arr}}</li>
</ul>
<div *ngIf="dataVar == 'new' then temp1 else temp2"></div>
<ng-template #temp1>yes</ng-template>
<ng-template #temp2>No</ng-template>

<div>
    <button [disabled]="isButtonDisabled=='yes'">big button</button>
</div>

<div>
    <button (click)="clickEvent()">button</button>
</div>
<div>
    <ul>
        <li *ngFor="let item of data">{{item}}</li>
    </ul>
    <button (click)="getAlert()">service</button>
</div>

<p [@myAnimation]="state1" (click)="changeEffect()">This is going to animate</p> -->
<app-input-component></app-input-component>